<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MathServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1523/MathService.asmx" binding="basicHttpBinding"
                bindingConfiguration="MathServiceSoap" contract="ServiceReference.MathServiceSoap"
                name="MathServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>